

@model IEnumerable<BotSpiel.DataAccess.Models.InboundModuleGridsconfig>

@{
    ViewBag.Title = "Index Inbound Module Grids - Configuration";
}
<br>
<h2>Inbound Module Grids - Configuration</h2>






@(Html
        .Grid(Model)
        .Build(columns =>
        {
				columns.Add(model => model.ixInboundModuleGrid).Titled("Grids").Encoded(false).RenderedAs(item => Html.ActionLink("Grid", "Index", item.sInboundModuleGrid));
				columns.Add(model => model.sInboundModuleGrid).Titled("Inbound Module Grid").Sortable(true).Filterable(true);
				columns.Add(model => model.sShortDescription).Titled("Short Description").Sortable(true).Filterable(true);

        })
        .Pageable(pager =>
        {
            pager.RowsPerPage = 20;
        })
		//.Filterable()
 )



 

