@model IGrid<BotSpiel.DataAccess.Models.Companies>

@{
    ViewBag.Title = "Index Companies Export";
}
<br>
<h2>Companies Export</h2>

<p>
    <a href="@(Url.Action("ExportIndex") + ViewContext.HttpContext.Request.QueryString)">Export</a>
    @Html.ActionLink(" | Grid", "Index")
</p>

@(new HtmlGrid<BotSpiel.DataAccess.Models.Companies>(Html, Model))
 

