

@model IEnumerable<BotSpiel.DataAccess.Models.BotModuleGridsconfig>

@{
    ViewBag.Title = "Index Bot Module Grids - Configuration";
}
<br>
<h2>Bot Module Grids - Configuration</h2>






@(Html
        .Grid(Model)
        .Build(columns =>
        {
				columns.Add(model => model.ixBotModuleGrid).Titled("Grids").Encoded(false).RenderedAs(item => Html.ActionLink("Grid", "Index", item.sBotModuleGrid));
				columns.Add(model => model.sBotModuleGrid).Titled("Bot Module Grid").Sortable(true).Filterable(true);
				columns.Add(model => model.sShortDescription).Titled("Short Description").Sortable(true).Filterable(true);

        })
        .Pageable(pager =>
        {
            pager.RowsPerPage = 20;
        })
		//.Filterable()
 )



 

