@model IGrid<BotSpiel.DataAccess.Models.BotModuleGrids>

@{
    ViewBag.Title = "Index Bot Module Grids Export";
}
<br>
<h2>Bot Module Grids Export</h2>

<p>
    <a href="@(Url.Action("ExportIndex") + ViewContext.HttpContext.Request.QueryString)">Export</a>
    @Html.ActionLink(" | Grid", "Index")
</p>

@(new HtmlGrid<BotSpiel.DataAccess.Models.BotModuleGrids>(Html, Model))
 

