@model IGrid<BotSpiel.DataAccess.Models.InventoryStates>

@{
    ViewBag.Title = "Index Inventory States Export";
}
<br>
<h2>Inventory States Export</h2>

<p>
    <a href="@(Url.Action("ExportIndex") + ViewContext.HttpContext.Request.QueryString)">Export</a>
    @Html.ActionLink(" | Grid", "Index")
</p>

@(new HtmlGrid<BotSpiel.DataAccess.Models.InventoryStates>(Html, Model))
 

