@model IGrid<BotSpiel.DataAccess.Models.OutboundOrderTypes>

@{
    ViewBag.Title = "Index Outbound Order Types Export";
}
<br>
<h2>Outbound Order Types Export</h2>

<p>
    <a href="@(Url.Action("ExportIndex") + ViewContext.HttpContext.Request.QueryString)">Export</a>
    @Html.ActionLink(" | Grid", "Index")
</p>

@(new HtmlGrid<BotSpiel.DataAccess.Models.OutboundOrderTypes>(Html, Model))
 

