@model IGrid<BotSpiel.DataAccess.Models.OutboundShipments>

@{
    ViewBag.Title = "Index Outbound Shipments Export";
}
<br>
<h2>Outbound Shipments Export</h2>

<p>
    <a href="@(Url.Action("ExportIndex") + ViewContext.HttpContext.Request.QueryString)">Export</a>
    @Html.ActionLink(" | Grid", "Index")
</p>

@(new HtmlGrid<BotSpiel.DataAccess.Models.OutboundShipments>(Html, Model))
 

