

@model IEnumerable<BotSpiel.DataAccess.Models.CountrySubDivisions>

@{
    ViewBag.Title = "Index Country Sub Divisions";
}
<br>
<h2>Country Sub Divisions</h2>

<p>
    @Html.ActionLink(" | Grid Export", "IndexExport")
</p>

<p>    
    <button type="button" id="refresh-grid" class="btn btn-default content-refresh">Refresh Grid</button>
</p>

@Html.AjaxGrid(Url.Action("IndexGrid"), new { id = "countrysubdivisions-ajax-grid" })
 

