@model IGrid<BotSpiel.DataAccess.Models.BusinessPartners>

@{
    ViewBag.Title = "Index Business Partners Export";
}
<br>
<h2>Business Partners Export</h2>

<p>
    <a href="@(Url.Action("ExportIndex") + ViewContext.HttpContext.Request.QueryString)">Export</a>
    @Html.ActionLink(" | Grid", "Index")
</p>

@(new HtmlGrid<BotSpiel.DataAccess.Models.BusinessPartners>(Html, Model))
 

