@model IGrid<BotSpiel.DataAccess.Models.ExecutionModuleGrids>

@{
    ViewBag.Title = "Index Execution Module Grids Export";
}
<br>
<h2>Execution Module Grids Export</h2>

<p>
    <a href="@(Url.Action("ExportIndex") + ViewContext.HttpContext.Request.QueryString)">Export</a>
    @Html.ActionLink(" | Grid", "Index")
</p>

@(new HtmlGrid<BotSpiel.DataAccess.Models.ExecutionModuleGrids>(Html, Model))
 

