@model IGrid<BotSpiel.DataAccess.Models.FacilityAisleFaces>

@{
    ViewBag.Title = "Index Facility Aisle Faces Export";
}
<br>
<h2>Facility Aisle Faces Export</h2>

<p>
    <a href="@(Url.Action("ExportIndex") + ViewContext.HttpContext.Request.QueryString)">Export</a>
    @Html.ActionLink(" | Grid", "Index")
</p>

@(new HtmlGrid<BotSpiel.DataAccess.Models.FacilityAisleFaces>(Html, Model))
 

