@model IGrid<BotSpiel.DataAccess.Models.InboundOrders>

@{
    ViewBag.Title = "Index Inbound Orders Export";
}
<br>
<h2>Inbound Orders Export</h2>

<p>
    <a href="@(Url.Action("ExportIndex") + ViewContext.HttpContext.Request.QueryString)">Export</a>
    @Html.ActionLink(" | Grid", "Index")
</p>

@(new HtmlGrid<BotSpiel.DataAccess.Models.InboundOrders>(Html, Model))
 

