@model IGrid<BotSpiel.DataAccess.Models.PurchaseEmails>

@{
    ViewBag.Title = "Index Purchase Emails Export";
}
<br>
<h2>Purchase Emails Export</h2>

<p>
    <a href="@(Url.Action("ExportIndex") + ViewContext.HttpContext.Request.QueryString)">Export</a>
    @Html.ActionLink(" | Grid", "Index")
</p>

@(new HtmlGrid<BotSpiel.DataAccess.Models.PurchaseEmails>(Html, Model))
 

