@using System.Linq;
@using System.Collections.Generic;
@using BotSpiel.Services;
@inject ICarrierServicesService _carrierservicesService

@model IEnumerable<BotSpiel.DataAccess.Models.CarrierServices>

@{
    ViewBag.Title = "Index Carrier Services";
}
<br>
<h4>Carrier Services</h4>

<p>
    @Html.ActionLink("Create New", "CreateWithID", "CarrierServices", new { id = Model.Select(x => x.ixCarrier).FirstOrDefault() })
</p>

@{
    List<SelectListItem> queryCarriers = new List<SelectListItem>();
    queryCarriers.AddRange(_carrierservicesService.selectCarriers().ToList().OrderBy(de => de.sCarrier).Select(de => new SelectListItem() { Text = de.sCarrier, Value = de.sCarrier.ToString() }));

}


@(Html
        .Grid(Model.Where(x => x.ixCarrierService > 0))
        .Build(columns =>
        {
                columns.Add(model => Html.CheckBox("Check_" + model.ixCarrierService, new { @class = "rowCheckBox" })).Titled(Html.CheckBox("CheckAll", new { @onclick = "toggleAll()" }));
                columns.Add(model => model.ixCarrierService).Titled("Details").Encoded(false).RenderedAs(item => Html.ActionLink("Details", "Details", "CarrierServices", new { id = item.ixCarrierService }, new { @class = "modal-link" }));
                columns.Add(model => model.ixCarrierServiceEdit).Titled("Edit").Encoded(false).RenderedAs(item => Html.ActionLink("Edit", "Edit", "CarrierServices", new { id = item.ixCarrierService }, new { @class = "modal-link" }));
                columns.Add(model => model.sCarrierService).Titled("Carrier Service").Sortable(true).Filterable(true);
                columns.Add(model => model.Carriers.sCarrier).Titled("Carrier").Sortable(true).Filterable(true).MultiFilterable(true).WithFilterOptions(queryCarriers);
                columns.Add(model => model.dtCreatedAt).Titled("Created At").Sortable(true).Filterable(true);
                columns.Add(model => model.dtChangedAt).Titled("Changed At").Sortable(true).Filterable(true);
                columns.Add(model => model.sCreatedBy).Titled("Created By").Sortable(true).Filterable(true);
                columns.Add(model => model.sChangedBy).Titled("Changed By").Sortable(true).Filterable(true);
        })
        .Empty("No data found")
        .Id("carrierservices-ajax-grid")
        .Pageable(pager =>
        {
            pager.PageSizes = new Dictionary<Int32, String> { { 0, "All" }, { 5, "5" }, { 10, "10" }, { 15, "15" }, { 20, "20" }, { 40, "40" }, { 100, "100" } };
            pager.ShowPageSizes = true;
            pager.RowsPerPage = 20;
        })
        .Css("css-classes")
        .AppendCss("table-hover")
)
