@model IGrid<BotSpiel.DataAccess.Models.Carriers>

@{
    ViewBag.Title = "Index Carriers Export";
}
<br>
<h2>Carriers Export</h2>

<p>
    <a href="@(Url.Action("ExportIndex") + ViewContext.HttpContext.Request.QueryString)">Export</a>
    @Html.ActionLink(" | Grid", "Index")
</p>

@(new HtmlGrid<BotSpiel.DataAccess.Models.Carriers>(Html, Model))
 

