

@model IEnumerable<BotSpiel.DataAccess.Models.ResponseTypes>

@{
    ViewBag.Title = "Index Response Types";
}
<br>
<h2>Response Types</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink(" | Grid Export", "IndexExport")
</p>

<p>    
    <button type="button" id="refresh-grid" class="btn btn-default content-refresh">Refresh Grid</button>
    <button type="button" class="btn btn-default delete-rows" onclick="deleteRows('ResponseTypes')">Delete Selected Rows</button>
</p>

@Html.AjaxGrid(Url.Action("IndexGrid"), new { id = "responsetypes-ajax-grid" })
 

