@model IGrid<BotSpiel.DataAccess.Models.InvoicePurchaseLineAmounts>

@{
    ViewBag.Title = "Index Invoice Purchase Line Amounts Export";
}
<br>
<h2>Invoice Purchase Line Amounts Export</h2>

<p>
    <a href="@(Url.Action("ExportIndex") + ViewContext.HttpContext.Request.QueryString)">Export</a>
    @Html.ActionLink(" | Grid", "Index")
</p>

@(new HtmlGrid<BotSpiel.DataAccess.Models.InvoicePurchaseLineAmounts>(Html, Model))
 

