

@model IEnumerable<BotSpiel.DataAccess.Models.InventoryModuleGridsmd>

@{
    ViewBag.Title = "Index Inventory Module Grids - Master Data";
}
<br>
<h2>Inventory Module Grids - Master Data</h2>






@(Html
        .Grid(Model)
        .Build(columns =>
        {
				columns.Add(model => model.ixInventoryModuleGrid).Titled("Grids").Encoded(false).RenderedAs(item => Html.ActionLink("Grid", "Index", item.sInventoryModuleGrid));
				columns.Add(model => model.sInventoryModuleGrid).Titled("Inventory Module Grid").Sortable(true).Filterable(true);
				columns.Add(model => model.sShortDescription).Titled("Short Description").Sortable(true).Filterable(true);

        })
        .Pageable(pager =>
        {
            pager.RowsPerPage = 20;
        })
		//.Filterable()
 )



 

